console_title_template = '{{ .Shell }} in {{ .Folder }}'
version = 3
final_space = true

[secondary_prompt]
  template = '❯❯ '
  foreground = '#AF8700'
  background = 'transparent'

[[blocks]]
  type = 'prompt'
  alignment = 'left'
  newline = false

  [[blocks.segments]]
    template = '{{ .Path }}'
    foreground = '#FF5F00'
    background = 'transparent'
    type = 'path'
    style = 'plain'

    [blocks.segments.properties]
      cache_duration = 'none'
      style = 'full'

  [[blocks.segments]]
    type = 'git'
    style = 'plain'
    template = ' <b>({{ .HEAD }})</b>'
    foreground = '#D78700'
    background = 'transparent'

    [blocks.segments.properties]
      branch_icon = ''
      cache_duration = 'none'
      fetch_status = false

	[[blocks.segments]]
		type = 'text'
		style = 'plain'
		template = '{{ .Env.POSH_GIT_DIFF_STATS }}'
		background = 'transparent'

[[blocks]]
  type = 'prompt'
  alignment = 'left'
  newline = true

  [[blocks.segments]]
    template = '❯'
    background = 'transparent'
    type = 'text'
    style = 'plain'
    foreground_templates = ['{{if gt .Code 0}}#ad2222{{end}}', '{{if eq .Code 0}}#AF8700{{end}}']

    [blocks.segments.properties]
      cache_duration = 'none'
